<mat-card class="m-2 d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Listado de programadores de riego</h2>
</mat-card>

<mat-card class="m-2">
    <div class="animated fadeIn faster">

        <a mat-icon-button matTooltip="Añadir medida" (click)="addProgramadorRiego()">
            <mat-icon>add_circle</mat-icon>
        </a>

        <mat-form-field appearance="fill" style="width: 95%;">
            <mat-label>Buscar</mat-label>
            <input aria-label="Search" matInput [formControl]="search">
        </mat-form-field>

        <div matSort>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="modelo">
                    <th mat-header-cell *matHeaderCellDef>Modelo</th>
                    <td mat-cell *matCellDef="let programador_riego">{{ programador_riego.modelo }}</td>
                </ng-container>

                <ng-container matColumnDef="numero_serie">
                    <th mat-header-cell *matHeaderCellDef>Código</th>
                    <td mat-cell *matCellDef="let programador_riego">{{ programador_riego.numero_serie }}</td>
                </ng-container>

                <ng-container matColumnDef="fecha_alta">
                    <th mat-header-cell *matHeaderCellDef>Razón Social</th>
                    <td mat-cell *matCellDef="let programador_riego">{{ programador_riego.fecha_alta }}</td>
                </ng-container>

                <ng-container matColumnDef="fecha_ultima_conexion">
                    <th mat-header-cell *matHeaderCellDef>CIF</th>
                    <td mat-cell *matCellDef="let programador_riego">{{ programador_riego.fecha_ultima_conexion }}</td>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef>Acción</th>
                    <td mat-cell *matCellDef="let programador_riego">

                        <a mat-icon-button matTooltip="Ver sensores" (click)="navigateToSensores(programador_riego)">
                            <mat-icon>router</mat-icon>
                        </a>

                        <a mat-icon-button matTooltip="Eliminar programador de riego" (click)="deleteProgramadorRiego(programador_riego)">
                            <mat-icon>delete</mat-icon>
                        </a>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No existen programadores de riego</td>
                </tr>
            </table>

            <mat-paginator #paginator (page)="handlePageEvent($event)" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length" [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>

        </div>

    </div>
</mat-card>
